¿
 .panel {
    border: 0;
  }
  
  .panelheading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 66px;
    line-height: 45px;
  }
  
  .paneldefault .panelheading {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
  }
  